@keyframes fadeInUp {
  from {
      opacity: 0;
      transform: translateY(50px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

.coverText {
margin-left: 3rem;
font-size: 5rem;
display: flex;
line-height: 6rem;
font-weight: 600;
animation: fadeInUp 1s forwards;
}

.lid {
display: flex;
width: 40rem;
height: auto;
}
